.resetPassword {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f1f2f5;
}

.resetPassword-wrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.resetPassword-left,
.resetPassword-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resetPassword-right {
  margin-left: 20px;
}

.resetPassword-logo {
  font-size: 50px;
  font-weight: 700;
  color: #1775ee;
  margin-bottom: 10px;
}

.resetPassword-desc {
  font-size: 24px;
  font-weight: 500;
}

.resetPassword-box {
  height: 150px;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 7px 1px rgba(128, 128, 128, 1);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(128, 128, 128, 1);
}

.resetPassword-input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.resetPassword-input:focus {
  outline: none;
}

.resetPassword-button {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.resetPassword-button:focus {
  outline: none;
}

.resetPassword-button:disabled {
  cursor: not-allowed;
}

.resetPassword-forgot {
  text-align: center;
  color: #1775ee;
  cursor: pointer;
}

.resetPassword-forgot:hover {
  text-decoration: underline;
}

.resetPassword-register-button {
  width: 60%;
  align-self: center;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}

.resetPassword-register-button:focus {
  outline: none;
}

.resetPassword-register-button:disabled {
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .resetPassword-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .resetPassword-right {
    justify-content: center;
  }

  .resetPassword-box {
    height: 100%;
    width: 92%;
  }

  .resetPassword-input {
    margin: 10px 0 10px 0;
  }

  .resetPassword-button {
    margin: 10px 0;
  }

  .resetPassword-register-button {
    width: 100%;
    margin: 10px 0;
  }

  .resetPassword-desc {
    display: none;
  }
}
