.chatUser {
  padding: 10px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  justify-content: center;
}

.chatUserPicture > .MuiAvatar-root {
  width: 95px;
  height: 95px;
}

.chatUserName {
  margin-top: 10px;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}
