.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 998;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5);
  height: 7.5vh;
  width: 100%;
  box-sizing: border-box;
}

.dark__header {
  color: white;
  background: #242526;
  border-bottom: 1px #3a3b3c solid;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 2;
}

.header__logo {
  margin-left: 15px;
}

.header__left > img {
  margin-left: 15px;
  height: 40px;
}

.header__input {
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  border-radius: 33px;
  width: 18vw;
  height: 40px;
}

.header__input__dark {
  margin-left: 10px;
  display: flex;
  align-items: center;
  background-color: #3a3b3c;
  padding: 10px;
  border-radius: 33px;
  width: 18vw;
  height: 40px;
}

.header__input > input {
  border: none;
  outline-width: 0;
  background-color: transparent;
}

.header__input__dark > input {
  border: none;
  outline-width: 0;
  background-color: transparent;
  color: white;
}

.header__input__text {
  padding-left: 7px;
  font-size: 15px;
  font-weight: 300;
}

.header__middle {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
}

.header__options {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  margin: 0 5px;
  cursor: pointer;
}

.header__options__dark {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  margin: 0 5px;
  cursor: pointer;
}

.header__options:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  border-bottom: none;
}

.header__options__dark:hover {
  background-color: #3a3b3c;
  border-radius: 10px;
  align-items: center;
  border-bottom: none;
}

.header__options > .MuiSvgIcon-root {
  color: rgb(107, 103, 103);
  font-size: 30px;
}

.header__options__dark > .MuiSvgIcon-root {
  color: lightgray;
  font-size: 30px;
}

.header__options--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__options--active {
  border-bottom: 4px solid #2e81f4;
}

.header__options--active:hover {
  border-bottom: 4px solid #2e81f4;
  background-color: white;
  border-radius: 0;
  align-items: center;
}

.header__right {
  display: flex;
  flex: 1.8;
  margin: 5px 0;
}

.header__info {
  display: flex;
  align-items: center;
  margin: 3px 5px 10px 40px;
  padding: 20px 5px;
  cursor: pointer;
}

.header__info:hover {
  border-radius: 20px;
  background-color: #dfe3ee;
}

.header__info__dark:hover {
  background: #3a3b3c;
}

.header__info > .MuiAvatar-root {
  color: #f7f7f7;
  width: 29px;
  height: 29px;
}

.header__info__text {
  padding-left: 7px;
  font-weight: 500;
}

.header__right__icons {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin: 2px 5px;
  cursor: pointer;
  background-color: #dfe0e6;
  border-radius: 50%;
  transition: filter 300ms;
}

.header__right__icons__dark {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin: 2px 5px;
  cursor: pointer;
  background-color: #3a3b3c;
  border-radius: 50%;
  transition: filter 300ms;
}

.header__right__icons:hover {
  filter: brightness(0.9);
}

.header__right__icons__dark:hover {
  filter: brightness(1.5);
}

.modal__container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.modal__header {
  display: flex;
  border-bottom: lightgray 1px solid;
  padding: 0 10px 10px 10px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.modal__header__text {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex: 20;
  margin-left: 10px;
}

.modal__header__text:hover {
  text-decoration: underline;
}

.modal__row {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.modal__row__title {
  display: flex;
  flex-direction: column;
}

.modal__row__text {
  margin-top: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.modal__row__text > .MuiSvgIcon-root {
  height: 30px;
  width: 30px;
  background-color: #dfe3ee;
  border-radius: 50%;
  padding: 5px 5px;
  margin: 5px;
}

.modal__row__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px 0 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.modal__row__option:hover {
  background-color: #eff2f5;
}

.modal__row__option__dark:hover {
  background: #3a3b3c;
}

.modal__row__label {
  font-weight: 500;
}

.modal__row__option__radio {
  margin-top: 5px;
}

.modal__bottom {
  display: flex;
  margin: 20px 15px 0 15px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.modal__bottom__text {
  font-weight: 500;
  font-size: 18px;
}

.modal__bottom > .MuiSvgIcon-root {
  margin-right: 10px;
}

.modal__bottom:hover {
  background-color: #eff2f5;
}

.modal__bottom__dark:hover {
  background: #3a3b3c;
}
