.timelineHeader-container {
  padding: 0 176px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.timelineHeader-coverImage-container {
  position: relative;
  height: 380px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
}

.timelineHeader-coverImage {
  object-fit: cover;
  width: 80%;
  height: 90%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.timelineHeader-profileImage-container {
  position: absolute;
  bottom: 12px;
}

.timelineHeader-profileImage {
  object-fit: cover;
  border: 5px white solid;
  width: 180px;
  height: 180px;
  border-radius: 9999px;
}

.timelineHeader-username {
  text-align: center;
  margin-top: -10px;
  font-size: 35px;
  font-weight: 700;
  color: black;
}

.timelineHeader-border {
  border: grey 1px solid;
  opacity: 0.2;
  margin-top: 6px;
}

.timelineHeader-optionsBar {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  margin: 0 32px;
}

.timelineHeader-options {
  display: flex;
  align-items: center;
}

.timelineHeader-option {
  padding: 15px 12px;
  margin: 5px 4px;
  color: grey;
  font-weight: 500;
  cursor: pointer;
}

.timelineHeader-option:hover {
  background: #eff2f5;
  border-radius: 4px;
}

.timelineHeader-option-detail {
  font-size: small;
  margin-left: 4px;
  font-weight: normal;
}

.timelineHeader-option-active {
  color: #2e81f4;
  border-bottom: 4px #2e81f4 solid;
}

.timelineHeader-option-active:hover {
  background: inherit;
  border-radius: 0;
}

.timelineHeader-option-dropdown {
  display: flex;
  align-items: center;
  padding: 15px 12px;
  margin: 5px 4px;
  color: grey;
  cursor: pointer;
  font-weight: 500;
}

.timelineHeader-option-dropdown:hover {
  background: #eff2f5;
  border-radius: 4px;
}

.timelineHeader-option-dropdown-icon {
  margin-left: 4px;
  display: flex;
  align-items: center;
}

.timelineHeader-icons {
  display: flex;
  align-items: center;
  margin-left: 2px;
}

.timelineHeader-icon {
  margin: 0 5px;
  width: 150px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.timelineHeader-icon > .MuiSvgIcon-root {
  margin-right: 5px;
}

.timelineHeader-coverImage-edit {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 75%;
  right: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: white;
  border-radius: 8px;
  padding: 10px 10px 10px 5px;
}

.timelineHeader-coverImage-edit:hover {
  background: #f1f1f1;
}

.timelineHeader-coverImage-edit > .MuiSvgIcon-root {
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timelineHeader-coverImage-edit-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
}

.timelineHeader-coverImage-cancel,
.timelineHeader-coverImage-edit-logo,
.timelineHeader-coverImage-save {
  margin: 6px;
}

.timelineHeader-profileImage-edit {
  display: inline-block;
  position: absolute;
  top: 70%;
  right: 6%;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: #f1f1f1;
  text-align: center;
}

.timelineHeader-profileImage-edit-logo {
  margin: 7px;
}

.timelineHeader-profileImage-edit:hover {
  opacity: 0.9;
}

.timelineHeader-profileImage-edit > .MuiSvgIcon-root {
  height: 18px;
  width: 18px;
}

.timelineHeader-profileImage-save,
.timelineHeader-profileImage-edit-cancel {
  margin-top: 8px;
}
